main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 3.6rem;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}
.todoCount-text, .todoCount-text--completed{
    color: rgb(246, 255, 0);
    text-align: center;
    margin-top: 20px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-decoration: underline rgb(255, 255, 255) 3px;
}

.todoCount-num{
    color: rgb(255, 255, 255);
    
}
.incompleted{ display: none;}
.completed{ display: block ;}