*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* overflow: hidden; */
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 3.6rem;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}
.todoCount-text, .todoCount-text--completed{
    color: rgb(246, 255, 0);
    text-align: center;
    margin-top: 20px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-decoration: underline rgb(255, 255, 255) 3px;
}

.todoCount-num{
    color: rgb(255, 255, 255);
    
}

.flechita{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom:94px;
    right: 200px;
    animation:flecha_movimiento 1s ease-in-out infinite  ;
    user-select: none;
}

.incompleted{ display: none;}
.completed{ display: block ;}

@keyframes flecha_movimiento {
    0%{
        right: 200px;
    }
    
    50%{
        right: 220px;
    }

    100%{
        right: 200px; 
    }
}


